# Spaceship Titanic: Data Preprocessing

## Importing libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Data Overview

In [2]:
df = pd.read_csv('./data/train_raw.csv')

In [12]:
df.shape

(8693, 14)

In [3]:
df.columns

Index(['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'Age',
       'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck',
       'Name', 'Transported'],
      dtype='object')

### Analyzing features

In [4]:
FEATS = ['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'Age',
       'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck',
       'Name']

In [10]:
df[FEATS].select_dtypes(include='object').describe().T

            count unique             top  freq
PassengerId  8693   8693         0001_01     1
HomePlanet   8492      3           Earth  4602
CryoSleep    8476      2           False  5439
Cabin        8494   6560         G/734/S     8
Destination  8511      3     TRAPPIST-1e  5915
VIP          8490      2           False  8291
Name         8493   8473  Gollux Reedall     2

As we can see there are a few features that should be removed because of too much variety. These are: ***PassengerId***, ***Cabin***, ***Name***.

In [11]:
df[FEATS].select_dtypes(include=['int', 'float']).describe().T

               count        mean          std  min   25%   50%   75%      max
Age           8514.0   28.827930    14.489021  0.0  19.0  27.0  38.0     79.0
RoomService   8512.0  224.687617   666.717663  0.0   0.0   0.0  47.0  14327.0
FoodCourt     8510.0  458.077203  1611.489240  0.0   0.0   0.0  76.0  29813.0
ShoppingMall  8485.0  173.729169   604.696458  0.0   0.0   0.0  27.0  23492.0
Spa           8510.0  311.138778  1136.705535  0.0   0.0   0.0  59.0  22408.0
VRDeck        8505.0  304.854791  1145.717189  0.0   0.0   0.0  46.0  24133.0

In [17]:
df[FEATS].isna().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
dtype: int64

In [16]:
df[FEATS].isna().any(axis=1).sum()

2087